params {
    reads               = "data/*_{1,2}.fastq.gz"
    outdir              = "results"
    transcriptome_fasta = null
    max_memory          = '8.GB'
    max_cpus            = 4
}

profiles {
    standard {
        process.executor = 'local'
    }
    conda {
        conda.enabled = true
        process.conda = "${projectDir}/envs/environment.yaml"
    }
    docker {
        docker.enabled = true
        process.container = 'biocontainers/biocontainers:v1.2.0_cv1'
    }
}